@model AwesomeTicket.Models.Show

@{
    ViewData["Title"] = "Delete Show";
}

<h1>Delete Show</h1>
<hr />
<h3>Are you sure you want to delete this show?</h3>

<dl class="row">
    <dt class="col-sm-2">Title</dt>
    <dd class="col-sm-10">@Model.Title</dd>
    <dt class="col-sm-2">Location</dt>
    <dd class="col-sm-10">@Model.Location</dd>
    <dt class="col-sm-2">Category</dt>
    <dd class="col-sm-10">@Model.Category?.Name</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
